NET "CLK"  LOC = "H1" | IOSTANDARD = LVCMOS33 ; 
NET "DBG"  LOC = "M2" | IOSTANDARD = LVCMOS33 ; 
NET "POSTBIT"  LOC = "D13" | IOSTANDARD = LVCMOS18 | SCHMITT_TRIGGER ;
NET "CPU_RESET"  LOC = "G1" | IOSTANDARD = LVCMOS18; 
NET "SCL"  LOC = "H2" | IOSTANDARD = LVCMOS33 ; 
NET "SDA"  LOC = "J1" | IOSTANDARD = LVCMOS33 ;
#NET "PLL_BYPASS"  LOC = "H2" | IOSTANDARD = LVCMOS33 ;
NET "POST_BUS_OUT<0>" LOC = "C11" | IOSTANDARD = LVCMOS18 ;
NET "POST_BUS_OUT<1>" LOC = "B11" | IOSTANDARD = LVCMOS18 ;
NET "POST_BUS_OUT<2>" LOC = "A11" | IOSTANDARD = LVCMOS18 ;
NET "POST_BUS_OUT<3>" LOC = "A10" | IOSTANDARD = LVCMOS18 ;
NET "POST_BUS_OUT<4>" LOC = "A8" | IOSTANDARD = LVCMOS18 ;
NET "POST_BUS_OUT<5>" LOC = "B8" | IOSTANDARD = LVCMOS18 ;
NET "POST_BUS_OUT<6>" LOC = "C8" | IOSTANDARD = LVCMOS18 ;
NET "POST_BUS_OUT<7>" LOC = "B7" | IOSTANDARD = LVCMOS18 ;